[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
torch = "*"
matplotlib = "*"
jupyter = "*"
jupytext = "*"
ipykernel = "*"

[dev-packages]
pytest = "*"
